.create-event-modal {
    /* border: red 2px solid; */
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 30vw;

}

.create-event-modal>h1 {
    margin: 0 auto;
}

.create-event-modal>form {
    display: flex;
    flex-direction: column;
}

.create-event-modal>form>* {
    margin: 1px;
    /* height: 3vh; */
    box-sizing: border-box;
}