.event-details {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.event-details-header {
    border-bottom: 2px solid rgb(232, 226, 226);
    display: flex;
}

.event-details-header > h2 {
    align-items: center;
    margin-left: 2em;
}

.event-details-body {
    display: flex;
    /* flex-grow: 1; */
    width: 100%;
    height: 90%;
    margin: 0;
    background-color: rgb(246, 247, 248);
}

.event-details-body-left {
    /* border: aqua solid 2px; */
    width: 50%;
    /* height: 50%; */
    margin: 3em 4em 3em 5em;
}

.event-detail-preview-image {
    width: 100%;
    height: 60%;
}
.event-detail-preview-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.event-details-description {
    margin-left: 3%;
}

.event-details-body-right {
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60%;
    justify-content: space-between;
    margin: 3em auto 1em;
}

.event-group-details {
    /* border: 2px solid green; */
    padding: 5%;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-group-details > div {
    margin: 5px;
}

.event-details-groupname {
    font-weight: 600;
}

.event-time-place-box {
    display: flex;
    /* flex-direction: column; */
    padding: 5%;
    background-color: white;
    border-radius: 0.5rem;
    justify-content: space-between;
}
.event-date > div {
    padding: 5px 0px;
}
.event-type > div {
    padding: 2px 0;
}

.time-place-icons {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.session-button-placeholder {
    height: 20px;
}
    