.group-card {
    display: flex;
    box-sizing: border-box;
    /* border-bottom: solid rgb(216, 212, 212) 2px; */
    border-top: solid rgb(216, 212, 212) 2px;
    height: 25vh;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.preview-image {
    box-sizing: border-box;
    /* border: 2px solid rgb(18, 233, 240); */
    border-radius: 5px;
    height: 50%;
    width: 30%;
    margin: 10px 10px auto 10px;
}

.preview-image > img {
    border-radius: inherit;
    box-sizing: border-box;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.group-card-flex-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 2px solid green; */
    justify-content: space-around;
    padding-left: 10px;
    overflow: hidden;
    width: 60%
}

.group-card-header {
    box-sizing: border-box;
    /* border: 2px solid magenta */
}

.group-card-header > h3 {
    /* border: 2px solid yellow; */
    margin: 5px auto;
}
.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* border: solid 2px green; */
    
    overflow: hidden;
    
    /* height: 20%; */
}


.group-card-footer {
    box-sizing: border-box;
}
